@font-face {
  font-family: "SukhumvitSet";
  src: url("../public/fonts/SukhumvitSet-Text.ttf");
  font-weight: normal;
}
@font-face {
  font-family: "SukhumvitSet-Bold";
  src: url("../public/fonts/SukhumvitSet-Bold.ttf");
  font-weight: bold;
}
@font-face {
  font-family: "SukhumvitSet-Light";
  src: url("../public/fonts/SukhumvitSet-Light.ttf");
  font-weight: lighter;
}
@font-face {
  font-family: "SukhumvitSet-SemiBold";
  src: url("../public/fonts/SukhumvitSet-SemiBold.ttf");
  font-weight: semi-bold;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: SukhumvitSet;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.fileInputcustom {
  height: 0;
  overflow: hidden;
  width: 0;
}
.InputRegister::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
.inputUpload {
  background: transparent;
  border: 0;
  outline: 0;
  border-bottom: 2px solid white;
}
.inputUpload:focus {
  border-color: white;
}
.inputUpload::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 50%; /* Firefox */
}
/* .react-datepicker__input-container input {
  background-color: rgb(247, 238, 196);
  color: rgb(255, 255, 255);
  border-width: 0px;
} */

/* 
.customDatePickerWidth > div.react-datepicker-wrapper,
.customDatePickerWidth
  > div
  > div.react-datepicker__input-container
  .customDatePickerWidth
  > div */
.customDatePickerWidth {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  background-color: rgb(236, 216, 146);
  border: 1px solid #ced4da;
  -moz-border-radius: 0.25rem;
  border-radius: 0.25rem;
}
.react-datepicker-wrapper {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
}

.react-datepicker__input-container input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  background-color: rgb(236, 216, 146);
  color: rgb(255, 255, 255);
  font-size: 12pt;
  border-width: 0px;
  padding: 0.375rem 0.75rem;
  font-family: SukhumvitSet-SemiBold;
}

.example-custom-input {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  background-color: rgb(236, 216, 146);
  color: rgb(255, 255, 255);
  font-size: 12pt;
  border-width: 0px;
  padding: 0.375rem 0.75rem;
  font-family: SukhumvitSet-SemiBold;
}

.custom-thailand div {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  width: 100%;
}
.custom-thailand div div ::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: rgb(255, 255, 255);
  opacity: 1; /* Firefox */
}
.btn-no-focus:focus {
  outline: none !important;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #fff;
  border-radius: 50%;
  border: 2px solid#48D1CC;
  display: inline-block;
}
.dot_full {
  height: 25px;
  width: 25px;
  background-color: #48d1cc;
  border-radius: 50%;
  border: 2px solid#48D1CC;
  display: inline-block;
}
